@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

#quote-box {
  background: #fff;
  width: 40rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.5s ease-in-out;
}

#quote-box:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.social-media {
  display: flex;
}

.social-media > a {
  margin-right: 0.5rem;
  background: #0059ff;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.social-media > a:hover {
  opacity: 0.8;
}

.social-media > a i {
  width: 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  margin-left: 4px;
}

#new-quote {
  background: #0059ff;
  bottom: none;
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

#new-quote:hover {
  opacity: 0.8;
  transform: translateY(4px);
}

#quote-icon {
  transition: all 0.5s ease-in-out;
}
#quote-icon:hover {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

* {
  user-select: none;
} /*hide cursor for clicked*/
